.main-page {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 12pt;
	line-height: 1.228;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	margin: auto;
	border-color: darkgrey;
	padding: 1px;
	width: 400px;
}

.main-page > header {
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-color: darkgrey;
	border-width: 1px;
	border-style: solid;
}

.main-page > header > a {
	padding: 2pt;
	color: #2196f3;
}

.main-page > main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	margin: auto;
	align-items: center;
	justify-content: space-around;
	vertical-align: middle;
	border-color: darkgrey;
	border-width: 1px;
	border-style: solid;
	height: 500px;
}

.main-page > main > form {
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	margin: auto;
	align-items: stretch;
	justify-content: space-around ;
}

.main-page > main > form > div {
	width: 100%;
	margin-left: 10px;
}

.main-page > main > form > label, input {
	margin-left: 10px;
	padding: 5px;
}

.main-page > main > form > button {
	padding: 10px;
	background-color: #2196f3;
	color: white;
	border: 2px solid;
    border-radius: 5px;
    margin: 10px;
    font-size: inherit;

}

.main-page > footer {
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	margin: auto;
	align-items: center;
	justify-content: space-around;
	bottom: 0;
	position: relative;
	border-color: darkgrey;
	border-width: 1px;
	border-style: solid;
	padding: 2pt;

}

@media (max-width: 768px){
	.main-page {
		flex-direction: column;
	}
	.main-page > header {
		flex-direction: column;
	}
	.main-page > main {
		flex-direction: column;
	}
}